{% extends 'base.html.twig' %}

{% block title %}Examen index{% endblock %}

{% block body %}
    <h1>Liste des examens</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Code</th>
                <th>Ouvert</th>
                <th>Date Examen</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for examan in examens %}
            <tr>
                <td>{{ examan.id }}</td>
                <td>{{ examan.code }}</td>
                <td>{{ examan.statut ? 'Oui' : 'Non' }}</td>
                <td>{{ examan.dateExamen ? examan.dateExamen|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_examen_show', {'id': examan.id}) }}" class="btn btn-success">Détails</a>
                    <a href="{{ path('app_examen_edit', {'id': examan.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun examen trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_examen_new') }}" class="btn btn-primary" >Créer un nouvel examen</a>
{% endblock %}
