{% extends 'base.html.twig' %}

{% block title %}Questions{% endblock %}

{% block body %}
    <h1>Liste des questions</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libellé</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for question in questions %}
            <tr>
                <td>{{ question.id }}</td>
                <td>{{ question.libelle }}</td>
                <td>
                    <a href="{{ path('app_question_show', {'id': question.id}) }}" class="btn btn-success">Détails</a>
                    <a href="{{ path('app_question_edit', {'id': question.id}) }}" class="btn btn-success">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucune Question</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_question_new') }}" class="btn btn-primary">Créer une nouvelle question</a>
{% endblock %}
