<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{path('app_home')}}">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_examen_index')}}">Examens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_questionnaire_index')}}">Questionnaires</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('app_question_index')}}">Questions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{path('user_index')}}">Formateurs</a>
        </li>
        <li class="nav-item ms-4">
        {% if app.user is empty %}
            <a href="{{path('app_login')}}" class="nav-link btn btn-secondary">Espace formateur</a>
        {% else %}
            <a href="{{path('app_logout')}}" class="nav-link btn btn-secondary">Déconnexion</a>
        {% endif %}
        
        </li>
      </ul>
    </div>
  </div>
</nav>

{% for message in app.flashes('success') %}
  <div class="alert alert-success">{{message}}</div>
{% else %}
{% endfor %}
