{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="d-flex justify-content-between">
        <button class="btn btn-primary">{{ button_label|default('Valider') }}</button>
    <a href="{{ path('app_questionnaire_index') }}" class="btn btn-primary">Retour à la liste</a>

    </div>
{{ form_end(form) }}
